In [2]:
import pandas as pd

In [3]:
import dask.dataframe as dd

csv_file_path = r'C:\Users\Raynn\Documents\AA\orcanalytics\NASA_Chlorophyll_1M.csv'
data_frame = pd.read_csv(csv_file_path)

C:\Users\Raynn\AppData\Local\Temp\ipykernel_8788\2679929997.py:4: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frame = pd.read_csv(csv_file_path)

In [5]:
data_frame.tail()

                          time  latitude  longitude chlorophyll
37324796  2022-05-16T00:00:00Z -89.97917  179.81252         NaN
37324797  2022-05-16T00:00:00Z -89.97917  179.85417         NaN
37324798  2022-05-16T00:00:00Z -89.97917  179.89584         NaN
37324799  2022-05-16T00:00:00Z -89.97917  179.93752         NaN
37324800  2022-05-16T00:00:00Z -89.97917  179.97917         NaN

In [6]:
data_frame_cleaned = data_frame.dropna()

In [7]:
data_frame_cleaned

                          time       latitude     longitude chlorophyll
0                          UTC  degrees_north  degrees_east      mg m-3
1480398   2022-05-16T00:00:00Z      82.854164     -56.77083    0.025177
1480399   2022-05-16T00:00:00Z      82.854164    -56.729164    0.025176
1480400   2022-05-16T00:00:00Z      82.854164    -56.687496    0.025176
1480401   2022-05-16T00:00:00Z      82.854164     -56.64583    0.025176
...                        ...            ...           ...         ...
29315546  2022-05-16T00:00:00Z     -51.395836     -178.9375     0.19993
29319784  2022-05-16T00:00:00Z     -51.395836     -2.354161    0.233488
29319785  2022-05-16T00:00:00Z     -51.395836     -2.312495    0.233488
29324185  2022-05-16T00:00:00Z     -51.437504    -178.97917    0.203188
29324186  2022-05-16T00:00:00Z     -51.437504     -178.9375    0.203188

[14773611 rows x 4 columns]